<p class="vote">
  <p class="vote">
    <% @postarticle.voters.order("votes.created_at").each do |voter| %>
     ⭐︎<%= voter.name %>
    <% end %>

  </p>

  <% if current_user  %>
 <div class="btn btn-primary btn-lg btn-block" role="button"><%= link_to "⭐︎いいね", [:like, @postarticle], method: :patch, class: "button" %></div>
  <% end %>
</p>
