h1, h2, p{
  font-family:Hiragino Mincho Pro;
}
.flash{
  color:white;
  padding-top:10px;
}



header {
  width: 100%;
  background-color: #282828;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {

  width: 100%;

}

.main-header img {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.function-images {
  width: 100%;
  display: table;
  margin-top: 60px;
  table-layout: fixed;
}
ul.bxslider ,
ul.bxslider li {
margin:0;
padding:0;
}

.function-image {
  display: table-cell;
  width: 100%;
}

footer {
  width: 100%;
  background-color:#282828;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {

}

.main-header{
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image:  url("header.jpg");
  background-attachment: fixed;
}

 .jumbotron {
   background:url(top_home.jpg) center no-repeat;
    background-size: cover;
     height:600px;
     margin: 0;
     padding: 0;
 }

 .jumbotron h1{
color:#e2fbff;
font-family:Hiragino Mincho Pro;
margin-top:40px
 }
.jumbotron p{
color:#e2fbff;
font-size: 26px;
font-family:Hiragino Mincho Pro;
margin-top:30px;
 }
.intro{
   height:450px;
}
.right {
  background:url(top_home2.jpg) center no-repeat;
   background-size: cover;
   height:450px;

}

.intro2{
   height:450px;
}
.left{
  background:url(zazen.png) center no-repeat;
   background-size: cover;
   height:450px;

}

.bx_part img{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
